In [4]:
import pandas as pd
import sqlalchemy
import psycopg2

In [6]:
db_config = {
    'user': 'postgres',
    'password': '12345678',
    'host': 'localhost',
    'port': '5432',
    'database': 'postgres'
}

In [7]:
conn = psycopg2.connect(**db_config)
cursor = conn.cursor()

In [8]:
df = pd.read_csv("users.csv")

In [10]:
df

,userId,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.858,consumer,Email,WI
1,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.597,consumer,Email,WI
2,5ff1e1e8cfcf6c399c274ad9,True,2021-01-03 15:25:28.354,2021-01-03 15:25:28.392,consumer,Email,WI
3,5ff1e1b7cfcf6c399c274a5a,True,2021-01-03 15:24:39.626,2021-01-03 15:24:39.665,consumer,Email,WI
4,5ff1e1f1cfcf6c399c274b0b,True,2021-01-03 15:25:37.564,2021-01-03 15:25:37.599,consumer,Email,WI
...,...,...,...,...,...,...,...
207,5fc961c3b8cfca11a077dd33,True,2020-12-03 22:08:03.936,2021-02-26 22:39:16.799,fetch-staff,Email,NH
208,5fa41775898c7a11a6bcef3e,True,2020-11-05 15:17:09.396,2021-03-04 16:02:02.026,fetch-staff,Email,NaN
209,5fa32b4d898c7a11a6bcebce,True,2020-11-04 22:29:33.309,2021-03-04 07:21:58.047,fetch-staff,Google,AL
210,5964eb07e4b03efd0c0f267b,True,2017-07-11 15:13:11.771,2021-03-04 19:07:49.770,fetch-staff,NaN,IL
211,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204,fetch-staff,NaN,NaN

In [11]:

timestamp_columns = ['createdDate', 'lastLogin'] 
for col in timestamp_columns:
    if col in df.columns:
        df[col] = df[col].where(pd.notnull(df[col]), None)

table_name = 'users'

for index, row in df.iterrows():
    cursor.execute(
        f"INSERT INTO Fetchrewards.{table_name} (userId, active, createdDate, lastLogin, role, signUpSource, state) VALUES (%s, %s, %s, %s, %s, %s, %s)",
        (row['userId'], row['active'], row['createdDate'], row['lastLogin'], row['role'], row['signUpSource'], row['state'])
    )
conn.commit()